body {
  font-family: arial, sans-serif;
  background-color: #fff;
}

h1 {
  color: #7c7c7c;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #70757a;
  font-size: 14px;
  font-weight: 100;
  height: 18px;
  line-height: 1;
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

small {
  font-size: 10px;
  color: #70757a;
}

a {
  text-decoration: none;
  color: #70757a;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.weather-app {
  border: 1px solid #fff;
  padding: 15px;
  margin: 0 auto;
  border-radius: 8px;
  max-width: 600px;
  background: linear-gradient(to top, #c8e1f4 0%, white 100%);
}

.overview {
  margin-bottom: 10px;
}

.weather-temperature img {
  position: relative;
  top: -10px;
  margin-right: 0;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  position: relative;
  font-size: 45px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 12px;
  top: 0;
  margin-left: 0;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
.fa-location-dot {
  position: relative;
  font-size: 35px;
  float: right;
  right: 5px;
  bottom: 37px;
  color: #c8e1f4;
}

.fa-location-dot:hover {
  cursor: pointer;
  color: #abcdf0;
}

.fa-location-dot:active {
  cursor: pointer;
  color: #c8e1f4;
}
